# =========================================================
# Python
# =========================================================

__pycache__/
*.pyc
*.pyo

# =========================================================
# Virtual Environment
# =========================================================

.venv/

# =========================================================
# Environment Files
# =========================================================

.env
.env.dev
.env.prod

# =========================================================
# Git
# =========================================================

.git
.gitignore

# =========================================================
# Database
# =========================================================

db.sqlite3

# =========================================================
# Pytest
# =========================================================

.pytest_cache
.coverage

# =========================================================
# VS Code
# =========================================================

.vscode
.idea
# =========================================================
# Static Files
# =========================================================

staticfiles
media